students r

<form action="/api/students" method="POST" >
    <div>
      <label for="name">Name</label>
      <input type="text" name="name" id="name" placeholder="Enter name">
  </div>
  <br>
  <div>
    <label for="code">Code</label>
    <input type="tel" name="code" id="code" placeholder="Enter code">
  </div>
  <br>
  <button type="submit">Submit</button>
</form>

<a href="/api/courses">courses</a>